{% extends 'hassan/base.html' %}
{% load static %}

{% block content %}

    <h1>مرحباً بك في وحدة القئ الدموي</h1>
    
    <img src="{% static 'image/s.png' %}" alt="صورة الوحدة" class="img-fluid w-100 rounded shadow">
    <div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">مع تحيات</h5>
        <p class="card-text"> hematemsis unit</p>
        <a href="{% url 'pt-rights' %}" class="btn btn-primary">عرض المزيد</a>
      </div>
    </div>
  </div>
  </div>

{% endblock %}