{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>حسان</title>
    <meta name="description" content="الطبخ">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
   
    <link rel="stylesheet" href="">
    <style>
   body{
    background-color: blue;
    text-align: center;

}
    </style>
</head>
 <body>
   <img src="{% static 'image/h.jpg' %}"><br>
<img title='hassan' width=200px border="5" src="http://127.0.0.1:8000/static/image/logo.png" alt="aki">
<strong>ali</strong>











</html>